*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html {
    font-size: 62.5%;
}


body {
    height: 100vh;
    font-family: "Quicksand", sans-serif;
    color: #333;
}


a,
input,
button {
    font: inherit;
    color: inherit;
}


.hidden {
    display: none !important;
}



/** Base styles: toast **/

.toast {
    max-width: 90vw;
    padding: 0.75em 1.5em;
    position: fixed;
    top: 2rem;
    left: 50%;
    z-index: 10;
    font-size: 1.4rem;
    color: #fff;
    background-color: #333;
    border-radius: 3px;
    transform: translate(-50%, calc(-100% - 2rem));
    transition: transform 250ms ease;
    will-change: transform;
}


.toast--open {
    transform: translate(-50%, 0);
}



/** Base styles: buttons **/

.button {
    display: inline-block;
    padding: 0.75em 1.5em;
    border: 0.15em solid #333;
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: uppercase;
    background: none;
    border-radius: 10rem;
    cursor: pointer;
    outline: none;
}

a.button {
    text-decoration: none;
}


.button--small {
    font-size: 1.4rem;
}


.button--large {
    font-size: 2.2rem;
}


.button--icon {
    padding: 0.75em 1.15em;
    background: center center no-repeat;
    background-size: 50%;
}

.button--icon.button--loading {
    background-image: none;
}


.button--loading {
    position: relative;
    color: transparent;
}

.button--loading::after {
    content: "";
    position: absolute;
    top: calc(50% - 0.5em);
    left: calc(50% - 0.5em);
    width: 1em;
    height: 1em;
    border: 2px solid #333;
    border-top-color: transparent;
    border-radius: 50%;
    animation: rotate 500ms linear infinite;
    will-change: transform;
}



/** Base styles: screens **/

.screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    transition: all 200ms ease;
    will-change: transform, opacity;
}


.screen--maximized {
    transform: scale(2);
    opacity: 0;
    pointer-events: none;
}


.screen--minimized {
    transform: scale(0.5);
    opacity: 0;
    pointer-events: none;
}



/** Message form styles **/

.form__title {
    margin-bottom: 5vh;
    font-size: 7.5rem;
    font-weight: normal;
}


.form__input {
    display: inline-block;
    width: 50rem;
    padding: 0.75em 1.5em;
    border: 0.15em solid #333;
    font-size: 2.2rem;
    font-weight: bold;
    border-radius: 10rem;
    outline: none;
}


.form__footer {
    margin-top: 15vh;
}



/** Messages styles **/

.messages {
    width: 75vw;
    padding: 10vh 0;
    margin: 0 auto;
    list-style: none;
}

.messages:empty::before {
    content: "Loading messages...";
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 2.4rem;
    transform: translate(-50%, -50%);
}


.message {
    display: flex;
    align-items: flex-start;
    font-size: 3.2rem;
    opacity: 0;
    transform: translateY(-100%);
    transition: all 300ms ease-out;
}

.message:not(:last-child) {
    margin-bottom: 2rem;
}


.message--show {
    opacity: 1;
    transform: translateY(0);
}


.message__avatar {
    flex-shrink: 0;
    display: block;
    width: 6rem;
    height: 6rem;
    margin-right: 2rem;
    border-radius: 50%;
    object-fit: cover;
    object-position: center center;
}


.message__body {
    padding: 0.5em 0.75em;
    position: relative;
    background-color: #eee;
    border-radius: 5px;
}

.message__body::before {
    content: "";
    position: absolute;
    top: calc(3rem - 0.2em);
    right: 100%;
    border-right: 0.3em solid #eee;
    border-top: 0.3em solid transparent;
    border-bottom: 0.3em solid transparent;
}


.message__sender {
    position: relative;
    top: -0.5em;
    font-size: 0.5em;
    font-weight: bold;
    text-transform: uppercase;
}



/** Animations **/

@keyframes rotate {
    from { transform: rotate(0deg); }
    to   { transform: rotate(360deg); }
}



/** Web fonts **/

@font-face {
    font-family: "Quicksand";
    src: url("../fonts/quicksand/regular.woff2") format("woff2");
    font-weight: normal;
}


@font-face {
    font-family: "Quicksand";
    src: url("../fonts/quicksand/bold.woff2") format("woff2");
    font-weight: bold;
}





/** Style overrides **/

.login-screen {
    z-index: 1;
}


.message-screen,
.offline-screen {
    flex-direction: column;
}


.offline-screen img {
    width: 15rem;
}


.offline-screen h1 {
    font-size: 2.8rem;
}


.messages-button {
    background-image: url("../images/messages.png");
}


.logout-button {
    background-image: url("../images/logout.png");
}


.home-button {
    position: absolute;
    top: 5vh;
    left: 50%;
    background-image: url("../images/home.png");
    transform: translate(-50%, -50%);
}
